* {
    margin: 0;
    padding: 0;
}

.container {
    border: 10px solid #475569;
    background-color: #E2E8F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 20px 0px;
}